[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/tinygltf"]
	path = external/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "external/sdl"]
	path = external/sdl
	url = https://github.com/libsdl-org/SDL
[submodule "external/vma"]
	path = external/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt
[submodule "external/shaderc"]
	path = external/shaderc
	url = https://github.com/google/shaderc
[submodule "external/rmlui"]
	path = external/rmlui
	url = https://github.com/mikke89/RmlUi
[submodule "external/freetype"]
	path = external/freetype
	url = https://github.com/freetype/freetype
