
.metadata.txt


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# static libraries
/src/Debugging/external
/src/Debugging/include
/src/Debug/external
/src/Debug/include
/src/AssetLoader/external
/src/AssetLoader/include
/src/Engine/external
/src/Engine/include
/src/Game/external
/src/Game/include

# cppcheck build folder
/build-cppcheck

# generic cmake build
/build
/vsbuild

# clion
.idea
/cmake-build-*

# visual studio
.vs
/out
CMakeSettings.json

*.spv